<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
     Products
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <!-- <ion-list>
    <app-message *ngFor="let message of getMessages()" [message]="message"></app-message>
  </ion-list> -->

  <ion-list>
    <ion-item *ngFor="let product of products">
      <ion-thumbnail slot="start" class="product-thumbnail">
        <img [src]="product?.image" />
      </ion-thumbnail>
      <ion-label>
        <h2>{{ product.title }}</h2>
        <p>{{ product.description }}</p>
        <p><strong>Price: {{ product.price | currency }}</strong></p>
        <p><strong>Star: {{ product.rating.rate}}</strong></p>
      </ion-label>
      <ion-button fill="outline" slot="end" color="secondary " (click)="viewProduct(product.id)">View</ion-button>
    </ion-item>
  </ion-list>

</ion-content>
